#carts {
  display: flex;
  flex-direction: column;
}

#carts .cartItems {
  display: flex;
  flex-direction: column;
}

#carts .cart {
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
