.product {
  width: 10rem;
  height: 15rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--white);
}
